.hat{
	text-align: center;
}
main{
	width: 190mm;
	margin-left: 10mm;
	margin-right: 10mm;
	margin-top: 20mm;
	text-align: justify;
}	
textarea{

	resize: none;
	border: hidden;
	width: 190mm;
	text-align: justify;

}
.function{
	width: 70mm;
	height: 15mm;
	}
.podpis, .fio {
	width: 60mm;
	text-decoration: overline;
	text-align: center;
	}
.none{
	color: white;
	}